<?xml version='1.0' encoding='UTF-8'?>
<agent-input>
  <variables>
    <variable name='sharedLocation' value='/apps/IBM/Sterling/IMSHARED'/>
  </variables>
  <server>
    <repository location='/tmp/IBM_Sterling_Order_Management_V9.5/foundation'/>
  </server>
  <profile id='IBM Sterling Order Management Enterprise Edition' installLocation='/apps/IBM/Sterling/Foundation'>
    <data key='cic.selector.arch' value='x86'/>
    <data key='user.sbx.JVM_LOC' value='/tmp/java_1.7_64'/>
    <data key='user.COPYJVM' value='true'/>
    <data key='user.featurelist' value='com.ibm.is.commerce.ssfs.main'/>
    <data key='user.featurelist,com.ibm.is.commerce.ssfs' value='com.ibm.is.commerce.ssfs.main'/>
    <data key='user.sbx.DB_VENDOR' value='DB2'/>
    <data key='user.sbx.DB_USER' value='sterling'/>
    <data key='user.sbx.DB_PASS' value='IMCRYPTED:ayrbwUC8dKO31NLaD2mQ8w=='/>
    <data key='user.sbx.DB_DATA' value='STERDB'/>
    <data key='user.sbx.DB_HOST' value='{{ db1 }}'/>
    <data key='user.sbx.DB_PORT' value='50000'/>
    <data key='user.sbx.DB_SCHEMA_OWNER' value='STERDB'/>
    <data key='user.sbx.DB_DRIVERS' value='/tmp/db2jcc_license_cu.jar|/tmp/db2jcc4.jar'/>
    <data key='user.sbx.SUPPORT_MULTIBYTE' value='true'/>
    <data key='user.sbx.ADDITIONAL_ANT_JAVA_TASK_ARGS' value='-XX:MaxPermSize=512m'/>
    <data key='user.sbx.ADDITIONAL_ANT_COMPILER_TASK_ARGS' value='-J-Xms1024m -J-Xmx1664m'/>
    <data key='cic.selector.nl' value='zh,it,tr,pt_BR,ko,zh_HK,de,zh_TW,pl,fr,en,ru,es,ja'/>
  </profile>
  <install>
    <!-- IBM Sterling Order Management Enterprise Edition 9.5 -->
    <offering profile='IBM Sterling Order Management Enterprise Edition' id='com.ibm.is.commerce.ssfs' version='9.5.0' features='com.ibm.is.commerce.ssfs.main'/>
  </install>
  <preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='${sharedLocation}'/>
</agent-input>
